<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Layout cool
    link(rel="stylesheet", href="css/app.css" type="text/css")
    link(rel="stylesheet", href="htpps://fonts.googleapis.com/css?family=Oswald", type="text/css")
body
  
